@model PizzaShop.Repository.ModelView.ForgetPasswordViewModel

<div class="main">
    <!-- background image -->
    <div class="imageclass">
        <img src="~/images/dominos_background.jpg" alt="">
    </div>

    <!-- main reset password form -->
    <div class="formclass">
        <div class="mainformclass">
            <h1 class="h1class">
                <img src="~/images/logos/pizzashop_logo.png" alt="" height="50px">PIZZASHOP
            </h1>

            <div class="innerformclass">
                <form class="inputlogin" method="post" asp-action="ResetPassword">
                    <div class="my-3">
                        <input asp-for="Email" type="hidden" value="@Model.Email" />
                        <h3>Reset Password</h3>
                        <!-- New Password Field -->
                        <div class="position-relative password-section my-2">
                            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword2"
                                placeholder="New Password*">
                            <div class="eye z-10" onclick="eyeActive1()">
                                <i class="bi bi-eye openeye1 eye inactive"></i>
                                <i class="bi bi-eye-slash closeeye1 eye active"></i>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <!-- Confirm Password Field -->
                        <div class="position-relative password-section my-2">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword3"
                                placeholder="Confirm New Password*">
                            <div class="eye z-10" onclick="eyeActive2()">
                                <i class="bi bi-eye openeye2 eye inactive"></i>
                                <i class="bi bi-eye-slash closeeye2 eye active"></i>
                            </div>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        <!-- Error Message Display -->

                        <div class="text-danger">@TempData["password"]</div>

                        @if (TempData["success"] != null)
                        {
                            <div class="text-success">@TempData["success"]</div>
                        }
                    </div>

                    <div class="my-3">
                        <button type="submit" class="resetPassButton">Submit</button>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="/index.html" class="text-decoration-none">Back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts {
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var errorMessage = "@TempData["error"]";
            if (errorMessage) {
                toastr.error(errorMessage, 'error', { timeOut: 3000 });
            }

        }

    </script>
}
