@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,396;1,396&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";

}

.links.active {
  background-color: #0565a6 !important;
  color: rgb(252, 251, 251) !important;
}

.links.active a {
  color: white !important;
}

.error {
  color: red;
  font-size: 14px;
}

.field-validation-error {
  color: red;
  font-size: 14px;
}

.btn-link {
  font-weight: 400;
  color: #010916 !important;
  text-decoration: underline;
}

a {
  color: #010916 !important;
  text-decoration: underline;
}

.btn-primary {
  background-color: #0565a6 !important;
}

.text-blue {
  color: #0565a6 !important;
  font-weight: 500;
}

.bg-blue {
  color: white;
  background-color: #0565a6 !important;
}

.search_bar {
  padding-left: 10px;
  height: 40px;
  text-decoration: none;
  border: none;
}

.search_bar_img {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* .form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    opacity: 1;
    transform: scale(.99) translateY(-1.85rem) translateX(0.35rem) !important;
    background-color: rgb(255, 255, 255);
} */

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.dashboard {
  width: 100%;
}

.h1class {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  font-size: 20px;
  gap: 20px;
}

ol,
ul {
  padding-left: 0px !important;
}

.row>* {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.navbar {
  height: 60px;
  background-color: #0565a6;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -145px !important;
  margin-top: 0.125rem;
}

.sideBar {
  text-decoration: none;
  width: 230px;
  height: auto;
  background-color: white;
}

.sideBar ul {
  padding-top: 10px;
}

.sideBar ul li a {
  text-decoration: none;
  color: black;
}

.sideBar ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
}

.asideBar {
  display: none;
  text-decoration: none;
  padding: 5px 5px;
  color: black;
  border: none;
  box-shadow: none;
  margin-left: 25px;
}

.activeSidebar {
  color: #2466c8;
  background-color: #5e5c5d27;
}

.backgroundEffect {
  box-shadow: 0 0 10px 0.25rem rgba(140, 152, 170, 0.25);
}

.offcanvas-start {
  width: 265px !important;
}

#buttonContent {
  margin-left: 10px;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  width: 150px;
  border: none;
  background-image: url(../images/images/search-icon.svg) !important;
  margin-right: 10px;
}

.Active {
  padding: 5px 20px;
  background-color: #ebffef;
  color: #3cdd5f;
  border-radius: 20px;
}

.Inactive {
  padding: 5px 15px;
  background-color: #fff5f5;
  color: #ff4545;
  border-radius: 20px;
}

.pending {
  padding: 5px 15px;
  background-color: #f8f8f8;
  color: #bababa;
  border-radius: 20px;
}

.row>* {
  padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
  padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  margin-top: var(--bs-gutter-x);
}

.formclass {
  width: 95%;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.maincontent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userImageBg {
  width: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.userImageClass {
  top: -35px;
  border-radius: 50%;
}

.imgChnagebutton {
  width: 30px;
  border-radius: 50%;
  right: 150px;
  bottom: 84px;
}

#sidebarMenu li {
  width: 100%;
  height: 100%;
  list-style: none;
  transition: background 0.3s;
}

.form-switch .form-check-input {
  margin-left: -1.5em !important;
  float: left !important;
}

#sidebarMenu li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  display: block;
  border-radius: 5px;
}

/* Highlight active menu */
#sidebarMenu li.active a {
  width: 100%;
  height: 100%;
  background-color: #5e5c5d27;
  color: #2466c8;
}

.userimagesidepanel {
  margin: 38px 14px;
}

.roleclass {
  margin-top: -10px;
  font-size: 13px;
}

.content {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
}

.drag-area {
  height: 130px;
  border: 3px dashed #e0eafc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.icon {
  font-size: 50px;
  color: #1683ff;
}

.header {
  margin-top: -20px;
  font-size: 20px;
  font-weight: 500;
  color: #34495e;
}

.drag-area .support {
  font-size: 12px;
  color: gray;
  margin: 10px 0 15px 0;
}

.drag-area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}

.drag-area.active {
  border: 2px solid #1683ff;
}

.drag-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#flexSwitchCheckDefault {
  width: 40px;
  height: 20px;
}

.dashboardHeight {
  height: 150px;
}

.dashboardBoxHeight {
  height: 250px;
}

.dashboardAnalyticsHeight {
  height: 200px;
}

/* menu css */

/* -------------------------------------------------------- */

.nav-tabs {
  border-bottom: 1px solid #ffffff !important;
}

.nav-tabs .nav-link.active {
  color: #2466c8 !important;
  border: none !important;
  border-bottom: 2px solid #2466c8 !important;
}

.nav-tabs .nav-link {
  color: black !important;
  border: none !important;
}

.rightsideborder {
  background: #e3e3e3;
  border-right: 2px solid #0565a6;
  /* height: 700px; */
  width: 300px;
  overflow-y: scroll;
}

.menuClass {
  display: flex;
}

.nav-home {
  display: flex !important;
  flex-direction: row !important;
}

#nav-modifires {
  display: none;
}

.nav-pills .active {
  color: #1683ff;
  background-color: #c4c4c5;
}

.activePens {
  opacity: 1;
}

.nav-pills .active .activePens {
  display: flex !important;
}

/* media query */

/* -------------------------------------------------------- */

@media screen and (max-width: 1140px) {
  .asideBar {
    display: block;
  }

  .mainClassOfsidebar {
    display: none;
  }

  #collapse1 {
    overflow-x: scroll;
  }

  #buttonContent {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav-home {
    display: flex !important;
    flex-direction: column !important;
  }

  .rightsideborder {
    flex-direction: column;
    border-right: none;
    border-bottom: 2px solid #0565a6;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 575px) {
  .nav-home {
    display: flex !important;
    flex-direction: column !important;
  }

  .rightsideborder {
    border-right: none;
    border-bottom: 2px solid #0565a6;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
  }
}

.password-section .bi-eye {
  position: absolute;
  top: 50%;
  right: 15px;

  transform: translateY(-50%);
  cursor: pointer;
}

.password-section .bi-eye-slash {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

input[type="file"] {
  border: none;
  background: transparent;
  position: relative;
  box-shadow: none;
  height: 5rem;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  height: 100%;
}

.file-upload {
  display: flex;
  height: 8rem;
  justify-content: center;
  align-items: center;
  border: 1px dashed #48494a;
  border-radius: 5px;
}

.file-upload span img {
  height: 2rem;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.05rem !important;
}


.AddItemBox .form-floating>label {
  left: 0.8rem;
}

.AddItemBox .modal-dialog {
  max-width: 950px;
}

.AddItemBox .form-switch .form-check-input {
  height: 2rem !important;
  width: 3.5rem !important;
}

.AddItemBox .modofier-Group {
  background-color: rgba(245, 221, 141, 0.349);
}


/* =================toasters----------------------- */
/* 
  [HttpPost]
  public async Task<IActionResult> UpdateImage(int userId, IFormFile imageFile)
  {
      if (imageFile != null && imageFile.Length > 0)
      {
          var user = _db.Users.FirstOrDefault(u => u.Userid == userId);
          if (user != null)
          {
              // Save the image file and update the user's image URL
              var filePath = Path.Combine(_WebHostEnvironment.WebRootPath, "images", imageFile.FileName);
              using (var stream = new FileStream(filePath, FileMode.Create))
              {
                  imageFile.CopyTo(stream);
              }
              user.ImageUrl = $"/images/{imageFile.FileName}";
              _db.SaveChanges();


              TempData["SUCCESS"] = "Profile image updated successfully.";
          }
          else
          {
              TempData["ERROR"] = "Please select a valid image.";
          }

          return RedirectToAction("Profile");
      }

  } */