@model PizzaShop.Repository.ModelView.MenuWithItemsViewModel
<div class="modal fade AddItemBox" id="addModifiers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form asp-action="AddModifier" asp-controller="Menu">
        <div class="modal-body">
          <div class="row">
            <div class="col-6 form-floating mb-3">

              <select class="form-select" asp-for="modifiersViewModel.Modifiergroupid">
                <option value="">Select Modofier Group(s)</option>
                @if (Model.modifiergroups != null)
                {
                  @foreach (var c in Model.modifiergroups)
                  {
                    <option value="@c.Modifiergroupid">@c.Modifiergroupname</option>
                  }
                }
              </select>
              <span asp-validation-for="modifiersViewModel.Modifiergroupid" class="text-danger"></span>
              <label for="floatingSelect">Modifier Group</label>


            </div>
            <div class="col-6 form-floating mb-3">
              <input asp-for="modifiersViewModel.Modifiername" type="text" class="form-control" placeholder="name"
                placeholder="Enter item name" />
              <label>Name</label>
              <span asp-validation-for="modifiersViewModel.Modifiername" class="text-danger"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-4 form-floating mb-3">
              <input asp-for="modifiersViewModel.Modifierrate" type="number" class="form-control" placeholder="₹" />
              <label>Rate</label>
              <span asp-validation-for="modifiersViewModel.Modifierrate" class="text-danger"></span>
            </div>
            <div class="col-4 form-floating mb-3">
              <input type="number" asp-for="modifiersViewModel.Modifierquantity" class="form-control"
                placeholder="Quantity" />
              <label>Quantity</label>
              <span asp-validation-for="modifiersViewModel.Modifierquantity" class="text-danger"></span>
            </div>
            <div class="col-4 form-floating mb-3">
              <select class="form-select" asp-for="modifiersViewModel.Modifierunit">
                <option value="0" selected>Select Units</option>
                <option value="1">Piece</option>
                <option value="2">Kg</option>
              </select>
              <span asp-validation-for="modifiersViewModel.Modifierunit" class="text-danger"></span>
              <label for="floatingSelect">Units</label>

            </div>
          </div>
          <div class="row">
            <div class="col-12 form-floating mb-3">
              <textarea asp-for="modifiersViewModel.Modifierdescription" class="form-control"
                placeholder="enter item's description "></textarea>
              <label>Description</label>
              <span asp-validation-for="modifiersViewModel.Modifierdescription" class="text-danger"></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn border-primary text-primary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>